.home{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Cabin Condensed', sans-serif;
    height: 100%;
    list-style-type: none;
}
.headerlogo-container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.headerlogo-icon{
    padding: 2px;
    margin: 2px;
}
.headerlogo-text{
    padding: 2px;
    margin: 2px;